<h1>Team Forum</h1>

<div style="width: 75%" class="post-listing div-centered"> 
  <%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
<table style="width: 100%" class>
  <tr>
    <th>Title</th>
    <th>Posted By</th>
    <th>Replies</th>
  </tr>
  <% @posts.each do |post| %>
    <tr style="border-bottom: 1px solid #EEE;">
      <td><%= link_to "#{post.title}", post %></td>
      <td style="text-align: center;"><%= post.poster %></td>
      <td style="text-align: center;"><%= post.comments.count %></td>
    </tr>
  <% end %>
</table>
</div>